[defaults]
inventory = inventory.yml
host_key_checking = False
remote_user = ubuntu
private_key_file = /home/petrikin.dp/.ssh/id_ed25519

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
ssh_common_args = -o ProxyCommand="ssh -W %h:%p ubuntu@84.252.130.100 -i /home/petrikin.dp/.ssh/id_ed25519"
